-----BEGIN CERTIFICATE-----
MIID+jCCAuKgAwIBAgIJAJh/5mfVy29mMA0GCSqGSIb3DQEBCwUAMIGWMQswCQYD
VQQGEwJJRDEQMA4GA1UECAwHSmFrYXJ0YTEQMA4GA1UEBwwHSmFrYXJ0YTEVMBMG
A1UECgwMTmFnYXRhbWEgTHRkMQ0wCwYDVQQLDARDb29sMRowGAYDVQQDDBFMb2Nh
bCBDZXJ0aWZpY2F0ZTEhMB8GCSqGSIb3DQEJARYSZXhhbXBsZUBkb21haW4uY29t
MB4XDTE5MDMwOTE2NDAwMloXDTIwMDcyMTE2NDAwMlowgY4xCzAJBgNVBAYTAklE
MRAwDgYDVQQIDAdKYWthcnRhMRAwDgYDVQQHDAdKYWthcnRhMRUwEwYDVQQKDAxO
YWdhdGFtYSBMdGQxDTALBgNVBAsMBENvb2wxITAfBgkqhkiG9w0BCQEWEmV4YW1w
bGVAZG9tYWluLmNvbTESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0B
AQEFAAOCAQ8AMIIBCgKCAQEAvw9S2RmYO3ydebBqxnes/lnY+cYE+WlXfOZlHzjB
LRVB0q8P1MkkEerPbA9COl+JAFjRN18uPb0FQ0nrWr0dzBkN0pyirXrKiuMcqfLR
fugImIHSD1eW4qLFXwrajQabCYYc/gykePBTfAZcUi3OimyOYBSE3YyPfuNzsr0s
BLsCTb9xSBO2mBv7O22xf/OpKdvvepEUgnnXUml+wH9d8u44E4MOa+0FW6u4NcSw
3aHLrI2Af2WYu+WogmxV9Ih+IHUQHXnEyCrpLlJTEspnQ9vlqZTd57fn8VKf5Pf5
hPOPHu2mFbjDrllPoBhYrwMqJdb6HdDGm0sZMjVe6UW6AQIDAQABo1EwTzAfBgNV
HSMEGDAWgBRghdNDSnNUq/rBEY/exx/h98p+RTAJBgNVHRMEAjAAMAsGA1UdDwQE
AwIE8DAUBgNVHREEDTALgglsb2NhbGhvc3QwDQYJKoZIhvcNAQELBQADggEBADm6
fkJzxF3bUyKm5FH90kBFa6x04B285WtFiKamgrGhyUHUWBEPwQ2LFGFq9HA/tvFR
0a7uxe5Of0DzrWsLJezdjO5T1DwFLwlA5I876XiHVOxpzQ643KJRAyUYCE/M4a+0
RF5cXkYN1vEN9uJO3sUwdrHi7ucMX0DFhEdrD8Bxp1c0HYPCsvpAlfVpxpRt1p55
oGRQ0w6utvUtkDpZ2p/YFxTnM+517RX09e4kztNpBYyOps4TXa7GliWUkSablYc8
cP4y/z/d7HYCCefzvxc5B/dALBd7C2cMuxZ8f57Zhcv3V/CsHIg6vJzVKmaj4rBT
ick1i+s8Ta+Wwykfchg=
-----END CERTIFICATE-----
